@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  header {
    background: url("../images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 700px;
    background-size: cover;
  }
}

.container {
  @apply max-w-[95%] mx-auto;
}

.grid-img {
  @apply object-cover w-[350px];
}

.grid-img--p {
  @apply max-w-[65%] uppercase px-4 py-8 absolute z-20 bottom-0 text-center text-white text-4xl font-light;
}
